<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>Voltar</ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable bar-positive"">
      <h1 class=" title">RadioApp ODONTO</h1>
    </ion-header-bar>

    <ion-content>
      <ion-list>
        <ion-item class="center">
          <img src="img/logo.png" width="50%" ng-click="goPag('home')">
        </ion-item>
        <ion-item menu-close class="item-divider">
          Técnica
        </ion-item>
        <ion-item menu-close ng-click="goPag('tecnica-oclusal')" class="item-icon-right">
          <i class="icon ion-ios-arrow-right"></i>
          Oclusal
        </ion-item>
        <ion-item menu-close ng-click="goPag('tecnica-periapicaldabissetriz')" class="item-icon-right">
          <i class="icon ion-ios-arrow-right"></i>
          Periapical da Bissetriz
        </ion-item>
        <ion-item menu-close ng-click="goPag('tecnica-periapicaldoparalelismo')" class="item-icon-right">
          <i class="icon ion-ios-arrow-right"></i>
          Periapical do Pararelismo
        </ion-item>
        <ion-item menu-close class="item-divider">
          Anatomia
        </ion-item>
        <ion-item menu-close ng-click="goPag('anatomia-oclusal')" class="item-icon-right">
          <i class="icon ion-ios-arrow-right"></i>
          Oclusal
        </ion-item>
        <ion-item menu-close ng-click="goPag('anatomia-periapical')" class="item-icon-right">
          <i class="icon ion-ios-arrow-right"></i>
          Periapical
        </ion-item>
        <ion-item menu-close ng-click="goPag('anatomia-panoramica')" class="item-icon-right">
          <i class="icon ion-ios-arrow-right"></i>
          Panoramica
        </ion-item>
        <ion-item menu-close class="item-divider"></ion-item>
        <ion-item menu-close href="#/app/ver/anatomia" class="item-icon-right">
          <i class="icon ion-ios-arrow-right"></i>
          BIOSSEGURANÇA
        </ion-item>
        <ion-item menu-close class="item-divider"></ion-item>
        <ion-item menu-close href="#/app/browse">
          SOBRE
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
