<ion-view view-title="{{titulo}}">
  <ion-content>
    <div class="list" ng-if="data.type == 'page'">
      <a class="item item-thumbnail-left item-icon-right" ng-repeat="item in data.menu" ng-click="goPag(item.url)">
        <img ng-src="{{item.imagem}}">
        <h2>{{item.title}}</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <ion-slide-box on-slide-changed="slideChanged(index)" ng-if="data.type == 'slide'">
      <ion-slide ng-repeat="slide in data.slides">
        <h3>{{slide.titulo}}</h3>
        <div id="logo" ng-show="slide.imagem">
          <img ng-src="{{slide.imagem}}" width="100%">
        </div>
        <iframe width="100%" height="315" src="{{slide.video|trusted}}" frameborder="0" allowfullscreen
          ng-show="slide.video"></iframe>
        <p>
          {{slide.legenda}}
        </p>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
