<ion-view view-title="{{data.title}}">
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide ng-repeat="slide in data.slides">
      <h3>{{slide.titulo}}</h3>
      <div id="logo" ng-show="slide.imagem">
        <img src="{{slide.imagem}}" width="100%">
      </div>
      <iframe width="560" height="315" src="{{slide.video}}" frameborder="0" allowfullscreen
        ng-show="slide.video"></iframe>
      <p>
        {{slide.legenda}}
      </p>
    </ion-slide>
  </ion-slide-box>
</ion-view>
